.home{
  color: #ffffff;
}

@font-face {
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/2479807/neuzeit.woff2') format('woff2');
    font-family: 'Neuzeit';
}

img {
    max-width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    font-family: 'Neuzeit', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

.hero {
    background-color: #fff;
    
    &__background {
        position: absolute;
        z-index: 1;
        top: 0%;
        height: 0%;
        width: 100%;
        background: #090e18;
    }
    
    &__top {
        position: relative;
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        
        h1 {
            color: #090e1f;
            font-size: 80px;
            line-height: 1.1;
            margin-bottom: 32px;
            max-width: 600px;
            z-index: 3;
            position: relative;
            
            @media (max-width: 960px) {
                font-size: 32px;
            }
        }
        
        p {
            mix-blend-mode: difference;
            color: rgba(white, .6);
            max-width: 500px;
            margin: 0 auto;
            font-size: 18px;
            z-index: 3;
            position: relative;
        }
    }
    
    &__bottom {
        height: 60vh;
        
        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }
}

/* 
    <section class="about horizontal-scroll__section">
    <div class="horizontal-scroll__wrapper">
        <div class="horizontal-scroll__content">
            <div class="about__item">
                <img
                    src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/2479807/person1.jpg"
                />
                <div class="content">
                    <div>
                        <h3>What attained our violin</h3>
                        <p>Been is in merely immune makes back peacefully.</p>
                    </div>
                </div>
            </div>
            <div class="about__item">
                <img
                    src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/2479807/person3.jpg"
                />
                <div class="content">
                    <div>
                     <h3>Imitation believed nothing soft</h3>
                    <p>
                        A this that not, most god, to in times and a no
                        question.
                    </p>
                    </div>
                </div>
            </div>
            <div class="about__item">
                <img
                    src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/2479807/person2.jpg"
                />
                <div class="content">
                    <div>
                                            <h3>A the he didn't however white</h3>
                    <p>
                        Nice structure when on to could hotel cannot as
                        proposal, seven way.
                    </p>
                    </div>

                </div>
            </div>
            <div class="about__item">
                <img
                    src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/2479807/person4.jpg"
                />
                <div class="content">
                    <div>
                                            <h3>Much of contracting</h3>
                    <p>
                        A gets the can sitting however by turned it built it
                        about and yes.
                    </p>
                    </div>

                </div>
            </div>
            <div class="about__item">
                <img
                    src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/2479807/person1.jpg"
                />
                <div class="content">
                    <div>
                                            <h3>Completely derived</h3>
                    <p>
                        Were no heavy was for little him the seem few be
                        cleaning separated.
                    </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section> */
